"*.pdf" 
"*.pdf" 

# Ignore specific large files
Study Material/HCI/EndSem/HCI_txtbuk\ (1).pdf
Study Material/ML/InSem/ML\ UNIT\ 1&2.pdf
Study Material/OS/OS\ Decode.pdf
Study Material/TOC/TOC\ TECH\ NEO\ .pdf
Study Material/TOC/Theory\ of\ Computation\ (1)\ (1).pdf
Syllabus-teit.pdf
Study Material/DAA/EndSem/DAA\ UNIT\ 3-6.pdf
Study Material/TOC/EndSem/TOC\ endsem\ decode\ (1).pdf
